!!! 5
%html{:lang => 'es'}
  %head
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
    %meta{:name => :viewport, :content => 'width=device-width,initial-scale=1'}
    %title= @title.present? ? "#{@title} | Ernesto Valenzuela" : "Ernesto Valenzuela"
    =favicon_tag 'favicon.ico'
    =stylesheet_link_tag 'bulma.min'
    =stylesheet_link_tag 'application'
    =stylesheet_link_tag 'global'
    =stylesheet_link_tag @stylesheets.present? ? @stylesheets.each { | style | style } : nil
    =yield_content :head
  %body
    #follower
      #circle1
    .curtain-menu{:style => "background-image: url(#{image_path('background-menu')})"}
      %nav.navbar.is-transparent
        .container
          .navbar-brand
            %a.mouse-over.navbar-item{:href => "/"}
              %img{:alt => "Ernesto Vargas", :height => "70", :src => image_path("white-logo.png")}/
          .navbar-menu
            .navbar-end.margin-menu-end
              %a.mouse-over.navbar-item.has-text-white{:href => "/"}
                %ion-icon.icon.is-small.has-text-white{name: "logo-youtube"}
              %a.mouse-over.navbar-item.has-text-white{:href => "/"}
                %ion-icon.icon.is-small.has-text-white{name: "logo-twitter"}
              %a.mouse-over.navbar-item.has-text-white{:href => "/"}
                %ion-icon.icon.is-small.has-text-white{name: "logo-linkedin"}
              .navbar-item.has-dropdown.is-hoverable
                %a.navbar-link.has-text-white
                  ES
                .navbar-dropdown.is-boxed.has-text-white
                  %a.navbar-item{:href => "/"}
                    #{I18n.t("layout.lang.langSpanish")}
                  %a.navbar-item{:href => "/"}
                    #{I18n.t("layout.lang.langEnglish")}
              %a#close-menu.mouse-over.navbar-item.has-text-white{:href => "#"}
                %ion-icon.icon.is-medium.has-text-white{name: "close"}
      .container.content-columns
        .columns.is-multiline.is-variable.is-1-mobile.is-0-tablet.is-3-desktop.is-8-widescreen.is-2-fullhd
          .column.is-half.content-links-menu
            %a.has-text-white.title.is-1.mouse-over{href:"/", class: defined?(@menu) && @menu == 1 ? 'option-menu-selected': 'unselected' } #{I18n.t("layout.menu.home")}
          .column.is-half.content-links-menu
            %a.has-text-white.title.is-1.mouse-over{href:"/", class: defined?(@menu) && @menu == 2 ? 'option-menu-selected': 'unselected' } #{I18n.t("layout.menu.me")}
          .column.is-half.content-links-menu
            %a.has-text-white.title.is-1.mouse-over{href:"/", class: defined?(@menu) && @menu == 3 ? 'option-menu-selected': 'unselected' } #{I18n.t("layout.menu.portfolio")}
          .column.is-half.content-links-menu
            %a.has-text-white.title.is-1.mouse-over{href:"/", class: defined?(@menu) && @menu == 4 ? 'option-menu-selected': 'unselected' } #{I18n.t("layout.menu.services")}
          .column.is-half.content-links-menu
            %a.has-text-white.title.is-1.mouse-over{href:"/", class: defined?(@menu) && @menu == 5 ? 'option-menu-selected': 'unselected' } #{I18n.t("layout.menu.blog")}
          .column.is-half.content-links-menu
            %a.has-text-white.title.is-1.mouse-over{href:"/", class: defined?(@menu) && @menu == 6 ? 'option-menu-selected': 'unselected' } #{I18n.t("layout.menu.videos")}
          .column.is-half.content-links-menu
            %a.has-text-white.title.is-1.mouse-over{href:"/", class: defined?(@menu) && @menu == 7 ? 'option-menu-selected': 'unselected' } #{I18n.t("layout.menu.training")}
          .column.is-half.content-links-menu
            %a.has-text-white.title.is-1.mouse-over{href:"/", class: defined?(@menu) && @menu == 8 ? 'option-menu-selected': 'unselected' } #{I18n.t("layout.menu.contact")}
    %nav#menu.navbar.is-transparent.is-fixed-top
      .container
        .navbar-brand
          %a.mouse-over.navbar-item{:href => "/"}
            %img{:alt => "Ernesto Vargas", :height => "70", :src => image_path("white-logo.png")}/
        .navbar-menu
          .navbar-end.margin-menu-end
            %a.mouse-over.navbar-item.has-text-white{:href => "/"}
              %ion-icon.icon.is-small.has-text-white{name: "logo-youtube"}
            %a.mouse-over.navbar-item.has-text-white{:href => "/"}
              %ion-icon.icon.is-small.has-text-white{name: "logo-twitter"}
            %a.mouse-over.navbar-item.has-text-white{:href => "/"}
              %ion-icon.icon.is-small.has-text-white{name: "logo-linkedin"}
            .navbar-item.has-dropdown.is-hoverable
              %a.navbar-link.has-text-white
                ES
              .navbar-dropdown.is-boxed.has-text-white
                %a.navbar-item{:href => "/"}
                  #{I18n.t("layout.lang.langSpanish")}
                %a.navbar-item{:href => "/"}
                  #{I18n.t("layout.lang.langEnglish")}
            %a#button-menu.mouse-over.navbar-item.has-text-white{:href => "#"}
              %ion-icon.icon.is-medium.has-text-white{name: "reorder-three-outline"}
    %header#header{:style => "background-image: url('https://www.kilianjornet.cat/img/headers/1/1581003414-inside-still010.jpg')"}
      .container{style: "z-index: 10"}
        %h1.title.has-text-white.header-title #{I18n.t("layout.header.descriptionOne")}
        %h1.title.has-text-white.header-title #{I18n.t("layout.header.descriptionTwo")}
        %h1.title.has-text-white.header-title #{I18n.t("layout.header.descriptionThree")}
      %video{:autoplay => "", :loop => "", :muted => "", :playsinline => ""}
        %source{:src => "https://www.kilianjornet.cat//img/headers/1/1581003528-uk-kilian-short-cut-some.mp4", :type => "video/webm"}
          %source{:src => "https://www.kilianjornet.cat//img/headers/1/1581003528-uk-kilian-short-cut-some.mp4", :type => "video/mp4"}
    %div #{yield}
    %script{src: "https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"}
    =javascript_include_tag :application
    :javascript

